<%= stylesheet_link_tag "signup-login" %>
<div id="background-blur"></div>
<div class="signup_wrapper">
  <h1 id="home_title">Staple</h1>
  <h2 id="home_subtitle">An easy way to create grocery lists.</h2>
  <div class="form-wrapper">
  <%= form_for(@user, html: {class: "user-form"}) do |f| %>
    <%= f.text_field :name, placeholder: "Name", class: "form-input" %> <br>

    <%= f.email_field :email, placeholder: "Email", class: "form-input" %> <br>

    <%= f.password_field :password, placeholder: "Password", class: "form-input" %> <br>

    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-input" %> <br>

    <%= f.submit "Sign up", class: "submit-button" %>
    <p> Already signed up? Login in <%=link_to "here", login_path%> </p>
  <% end%>
  <%= render 'shared/error_messages' %>
  </div>
</div>
