<!DOCTYPE html>
<html>
  <head>
    <title>Staple</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <div class="errorsFlash">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><span class="errorToken">*</span><%= message %></div>
    <% end %>
    </div>
  </body>

</html>
